:root{--background-color: rgb(180, 236, 255);--color: rgb(161,80,61)}

body{
    background:var(--background-color);

}
.header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background:#094074;
    padding: 10px;
}
nav a {
    color:#F8F8F8;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
}
nav img{
    float: left;
    
}
main img{
    padding-left: 75px;
}

p {
    background-color: lightgrey;
    width: 300px;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
  }
img {
    padding-left: 75px;
}
footer{
    background:#F7EF81;
}
.dcolor {
    background:#094074;
}
a:link {
    color:#F8F8F8;
    background-color: transparent;
    text-decoration: none;
  }
table, th, td {
    border:5px solid color rgb(161,80,61);
    background: #F7EF81;
    margin-left: auto;
    margin-right: auto;
  }
.center {
    text-align: center;
}
  