header{background-color: 505033;padding: 20px;}
head{background-color: blue;padding: 10px;}
h1{background-color: aqua ;padding: 10px;}
body{background-color:blanchedalmond ;padding: 10px;}
.note{font-family: Georgia, 400, 700, black;}
.text{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}